@import url('https://fonts.googleapis.com/css?family=Roboto');
.App-header {
  background-color: black;
  height: 50px;
  padding: 15px;
  color: white;
}
.App-logo-div{
  float: left;
}
.App-logo {
  height: 50px;
}
.App-menu{
  float: right;
}
.App-menu ul li{
  display: inline-block;
  margin: 0 30px;
  font-family: 'roboto',sans-serif;
}
